{{ range $i, $name := ls "/self/stack/services/zookeeper/containers" }}
server.{{ getv (printf "/self/stack/services/zookeeper/containers/%s/service_index" $name) }}={{ getv (printf "/self/stack/services/zookeeper/containers/%s/primary_ip" $name) }}:2888:3888:participant;0.0.0.0:2181
{{ end }}
